@model ErrorViewModel
@{
    ViewData["Title"] = "Внутренняя ошибка";
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="p-5 shadow rounded text-center">
                <img class="img-fluid mb-5" width="220px" src="~/img/500.png">
                <h3 class="mb-4"> Произошла внутренняя ошибка!</h3>
                @Html.ActionLink(" Главная страница", "Index", "Home", null, new { @class = "btn btn-primary" })
            </div>
        </div>
    </div>
</div>