@using AVN.Utility;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.TagHelpers

@inject SignInManager<AppUser> SignInManager
@inject UserManager<AppUser> UserManager


<ul class="navbar-nav flex-grow-1">
    @if (User.IsInRole(RoleConst.AdminRole) || User.IsInRole(RoleConst.Employee) || User.IsInRole(RoleConst.AccountantRole))
    {
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-user-cog mr-2"></i>
                <span>Действие</span>
            </a>
            
            <div class="dropdown-menu">
                @if (User.IsInRole(RoleConst.AdminRole) || User.IsInRole(RoleConst.AccountantRole))
                {
                    <a class="dropdown-item d-flex align-items-center" asp-controller="Order" asp-action="Index">
                        <i class="fas fa-people-arrows mr-2" style="width: 20px;"></i>
                        <span class="nav-link text-dark">Менеджер перевода</span>
                    </a>
                    
                    <a class="dropdown-item d-flex align-items-center" asp-controller="StudentPayment" asp-action="Payment">
                        <i class="fas fa-donate mr-2" style="width: 20px;"></i>
                        <span class="nav-link text-dark">Оплата контракта</span>
                    </a>
                }
                <a class="dropdown-item d-flex align-items-center" asp-controller="GradeBook" asp-action="Index">
                    <i class="fas fa-clipboard-list mr-2" style="width: 20px;"></i>
                    <span class="nav-link text-dark">Ведомость</span>
                </a>
                @if (User.IsInRole(RoleConst.AdminRole))
                {
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item d-flex align-items-center" asp-controller="Student" asp-action="Create">
                        <i class="fas fa-user-plus mr-2" style="width: 20px;"></i>
                        <span>Создать студента</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" asp-controller="Employee" asp-action="Create">
                        <i class="fas fa-user-plus mr-2" style="width: 20px;"></i>
                        <span>Создать работника</span>
                    </a>
                    <a class="dropdown-item d-flex align-items-center" asp-area="Identity" asp-page="/Account/RegisterAdmin">
                        <i class="fas fa-user-plus mr-2" style="width: 20px;"></i>
                        <span>Создать администратора</span>
                    </a>
                }
            </div>
        </li>
        if (User.IsInRole(RoleConst.AdminRole))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <i class="fas fa-user-shield mr-2"></i>
                    <span>Администрирование</span>
                </a>
                <div class="dropdown-menu">
                    <a class="dropdown-item d-flex align-items-center" asp-controller="Option" asp-action="Index">
                        <i class="fas fa-cog mr-2" style="width: 20px;"></i>
                        <span>Параметры программы</span>
                    </a>
                    <div class="dropdown-divider"></div>
                    <a class="dropdown-item" asp-controller="Report" asp-action="GetStudentsInGroup">
                        <i class="fas fa-chart-line" style="width: 20px;"></i> Отчет по студентам
                    </a>
                </div>
            </li>
        }
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle d-flex align-items-center" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                <i class="fas fa-exclamation-circle mr-2"></i>
                <span>Справочник</span>
            </a>
            <div class="dropdown-menu">
                <a class="dropdown-item d-flex align-items-center" asp-controller="Faculty" asp-action="Index">
                    <i class="fas fa-archway mr-2" style="width: 20px;"></i>
                    <span>Факультеты</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex align-items-center" asp-controller="Department" asp-action="Index">
                    <i class="fas fa-book-open mr-2" style="width: 20px;"></i>
                    <span>Кафедры</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex align-items-center" asp-controller="Direction" asp-action="Index">
                    <i class="fas fa-hard-hat mr-2" style="width: 20px;"></i>
                    <span>Специализации</span>
                </a>
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex align-items-center" asp-controller="Subject" asp-action="Index">
                    <i class="fas fa-brain mr-2" style="width: 20px;"></i>
                    <span>Предметы</span>
                </a>

            </div>

        </li>
    }

    @if (SignInManager.IsSignedIn(User))
    {
        if (User.IsInRole(RoleConst.StudentRole))
        {
            AppUser applicationUser = (AppUser)await UserManager.GetUserAsync(User);
            string Id = applicationUser.Id;
            <li class="nav-item">
                <a class="nav-link" asp-area="" asp-controller="Student" asp-action="Details" asp-route-id="@Id">
                    <i class="fas fa-user-edit"></i> Анкета
                </a>
            </li>
        }
    }

    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <i class="fas fa-pen"></i> Учебный процесс
        </a>
        <div class="dropdown-menu">
            <a class="dropdown-item d-flex align-items-center" asp-controller="Student" asp-action="Index">
                <i class="fas fa-search mr-2" style="width: 20px;"></i>
                <span>Поиск студента</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex align-items-center" asp-controller="Employee" asp-action="Index">
                <i class="fas fa-chalkboard-teacher mr-2" style="width: 20px;"></i>
                <span>Коллектив</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex align-items-center" asp-controller="Schedule" asp-action="Index">
                <i class="fas fa-table mr-2" style="width: 20px;"></i>
                <span>Расписание</span>
            </a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item d-flex align-items-center" asp-controller="Group" asp-action="Index">
                <i class="fas fa-users mr-2" style="width: 20px;"></i>
                <span>Список групп</span>
            </a>
            @if (User.IsInRole(RoleConst.AdminRole) || User.IsInRole(RoleConst.Employee) || User.IsInRole(RoleConst.AccountantRole))
            {
                <div class="dropdown-divider"></div>
                <a class="dropdown-item d-flex align-items-center" asp-controller="Student" asp-action="Enrolled">
                    <i class="fas fa-user-clock mr-2" style="width: 20px;"></i>
                    <span>Абитуриент</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" asp-controller="Student" asp-action="Graduated">
                    <i class="fas fa-graduation-cap mr-2" style="width: 20px;"></i>
                    <span>Окончившие</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" asp-controller="Student" asp-action="AcademicLeaved">
                    <i class="fas fa-plane mr-2" style="width: 20px;"></i>
                    <span>Академический отпуск</span>
                </a>
                <a class="dropdown-item d-flex align-items-center" asp-controller="Student" asp-action="Expelled">
                    <i class="fas fa-ban mr-2" style="width: 20px;"></i>
                    <span>Отчисленные</span>
                </a>
            }
        </div>
    </li>
    


</ul>
