@{
    ViewBag.Title = "Параметры программы";
}

<ul class="nav nav-tabs" id="myTab" role="tablist">
    <li class="nav-item">
        <a class="nav-link active" id="academicYear-tab" data-toggle="tab" href="#academicYear" role="tab" aria-controls="academicYear"
           aria-selected="true">Учебный год</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="movementType-tab" data-toggle="tab" href="#movementType" role="tab" aria-controls="movementType"
           aria-selected="false">Типы перемещений</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" id="orderType-tab" data-toggle="tab" href="#orderType" role="tab" aria-controls="orderType"
           aria-selected="false">Типы приказов</a>
    </li>
</ul>
<div class="tab-content" id="myTabContent">
    <div class="tab-pane fade show active" id="academicYear" role="tabpanel" aria-labelledby="academicYear-tab">
        <div id="academicYearContainer"></div>
    </div>
    <div class="tab-pane fade" id="movementType" role="tabpanel" aria-labelledby="movementType-tab">
        <div id="movementTypeContainer"></div>
    </div>
    <div class="tab-pane fade" id="orderType" role="tabpanel" aria-labelledby="orderType-tab">
        <div id="orderTypeContainer"></div>
    </div>
</div>

@section Scripts {
    <script>
        $(document).ready(function () {
            var lastTab = localStorage.getItem('lastTab');

            if (lastTab) {
                $('a[href="' + lastTab + '"]').tab('show');
            } else {
                $('a[href="#param"]').tab('show');
            }

            $('.nav-link').on('shown.bs.tab', function (e) {
                var target = $(e.target).attr("href"); 
                localStorage.setItem('lastTab', target);

                switch (target) {
                    case "#academicYear":
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("AcademicYearList", "Option")',
                            success: function (response) {
                                $('#academicYearContainer').html(response);
                                $('#academicYeartable').DataTable()
                                console.log(result)
                            },
                            error: function (xhr, status, error) {
                                console.error(xhr.responseText);
                            }
                        })
                        break;
                    case "#movementType":
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("MovementTypeList", "Option")',
                            success: function (response) {
                                $('#movementTypeContainer').html(response);
                                $('#movementTypetable').DataTable()
                                console.log(result)
                            },
                            error: function (xhr, status, error) {
                                console.error(xhr.responseText);
                            }
                        })
                        break;
                    case "#orderType":
                        $.ajax({
                            type: 'GET',
                            url: '@Url.Action("OrderTypeList", "Option")',
                            success: function (response) {
                                $('#orderTypeContainer').html(response);
                                $('#table').DataTable()
                                console.log(result)
                            },
                            error: function (xhr, status, error) {
                                console.error(xhr.responseText);
                            }
                        })
                        break;
                    default:
                        // Default action
                        break;
                }
            });
        });

    </script>

}