@{
    ViewData["Title"] = "Ведомость";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-7">
            <div class="form-group row mb-1">

                <div class="col-md-2">
                    <label class="font-weight-bold">Предмет</label>
                </div>
                <div class="col-md-10">
                    <select id="subjectDropdown" class="form-control"></select>

                </div>
            </div>
            <div class="form-group row mb-1">

                <div class="col-md-2">
                    <label class="font-weight-bold">Учебный год</label>
                </div>
                <div class="col-md-10">
                    <select id="academicYearDropdown" class="form-control"></select>

                </div>
            </div>
        </div>
        <div class="col-md-5">
            <div class="form-group row mb-1">

                <div class="col-md-3">
                    <label class="font-weight-bold">Группа</label>
                </div>
                <div class="col-md-9">
                    <select id="groupDropdown" name="groupDropdown" class="form-control"></select>

                </div>
            </div>
            <div class="form-group row mb-1">

                @*<div class="col-md-3">
                    <label class="font-weight-bold">Направление</label>
                </div>
                <div class="col-md-9">
                    <select id="directionDropdown" name="directionDropdown" class="form-control"></select>

                </div>*@
            </div>
        </div>
    </div>
}

<div id="dataContainer"></div>


@section Scripts {
    <script>
        $(document).ready(function () {

            // Заполнение выпадающего списка предметов препода при загрузке страницы
            $.ajax({
                url: '@Url.Action("GetSubjectByEmployee", "Subject")',
                type: 'GET',
                data: { employeeId: '@ViewBag.UserId' },
                success: function (data) {
                    $.each(data, function (i, subject) {
                        $('#subjectDropdown').append($('<option></option>').val(subject.value).text(subject.text));
                    });
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });

            $.ajax({
                url: '@Url.Action("GetAcademicYears", "Option")',
                type: 'GET',
                success: function (data) {
                    $.each(data, function (i, academicYear) {
                        $('#academicYearDropdown').append($('<option></option>').val(academicYear.value).text(academicYear.text));
                    });
                    FillGroupDropdown();
                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        });

        function FillGroupDropdown() {
            var subjectId = $('#subjectDropdown').val();
            var academicYearId = $('#academicYearDropdown').val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GetGroupsByGradeBook", "GradeBook")',
                contentType: 'application/json',
                data: {
                    'subjectId': subjectId,
                    'academicYearId': academicYearId
                },
                success: function (data) {
                    $('#groupDropdown').empty(); 

                    if (data.length === 0) {
                        $('#groupDropdown').append($('<option>').text('Нет данных').val(''));
                    } else {
                        $.each(data, function (i, group) {
                            $('#groupDropdown').append($('<option></option>').val(group.value).text(group.text));
                        });
                    }

                },
                error: function (xhr, status, error) {
                    console.error(xhr.responseText);
                }
            });
        }
    </script>
}
