@model AVN.Model.Entities.Group
<div class="container">
    <h1>Подтверждение удаления</h1>
    <p>Вы уверены, что хотите удалить этот элемент?</p>
    <div class="card">
        <div class="card-body">
            <p class="card-text">@Model.GroupName</p>
            <p class="text-danger">Внимание! Удаляя группу, вы также удалите и расписание для этой группы.</p>
            <form method="post" action="/Group/DeleteConfirmed/@Model.Id">
                <button type="submit" class="btn btn-danger">Удалить</button>
                <a href="/Group/Index" class="btn btn-secondary">Отмена</a>
            </form>
        </div>
    </div>
</div>