@model IEnumerable<GroupVM>

@{
    ViewData["Title"] = "Группы";
}

@using (Html.BeginForm())
{
    <div class="row">
        <div class="col-md-5">
            <div class="form-group row mb-1">

                <div class="col-md-3">
                    <label class="font-weight-bold">Факультет</label>
                </div>
                <div class="col-md-9">
                    <select id="facultyDropdown" name="facultyDropdown" class="form-control"></select>

                </div>
            </div>
            <div class="form-group row mb-1">

                <div class="col-md-3">
                    <label class="font-weight-bold">Кафедра</label>
                </div>
                <div class="col-md-9">
                    <select id="departmentDropdown" name="departmentDropdown" class="form-control"></select>

                </div>
            </div>
        </div>

    </div>
}
<hr>
<div id="dataContainer"></div>



@section Scripts {
    <script>
        $(document).ready(function () {
            $.ajax({
                url: '@Url.Action("GetFaculties", "Faculty")',
                type: 'GET',
                success: function (data) {
                    // Add new options 
                    $('#facultyDropdown').append($('<option>').text('Все').val('0'));
                    $.each(data, function (i, faculty) {
                        $('#facultyDropdown').append($('<option></option>').val(faculty.value).text(faculty.text));
                    });
                    FillDepartmentsDropdown()
                },
                error: function (xhr, status, error) {
                    // Handle error if any
                    console.error(xhr.responseText);
                }
            });
            GetList()
        });

        function FillDepartmentsDropdown() {
            // Your code logic here
            var facultyId = $('#facultyDropdown').val();
            $.ajax({
                url: '@Url.Action("GetDepartmentsByFaculty", "Department")',
                type: 'GET',
                data: { facultyId: facultyId },
                success: function (data) {
                    // Add new options
                    $('#departmentDropdown').append($('<option>').text('Все').val('0'));
                    $.each(data, function (i, department) {
                        $('#departmentDropdown').append($('<option></option>').val(department.value).text(department.text));
                    });

                },
                error: function (xhr, status, error) {
                    // Handle error if any
                    console.error(xhr.responseText);
                }
            });
        }

        $(document).ready(function () {
            $('#facultyDropdown').change(function () {
                var facultyId = $(this).val();
                if (facultyId == 0) {
                    $('#departmentDropdown').empty();
                    $('#departmentDropdown').append($('<option>').text('Все').val('0'));
                }

                $.ajax({
                    type: 'GET',
                    url: '@Url.Action("GetDepartmentsByFaculty", "Department")',
                    data: { facultyId: facultyId },
                    success: function (response) {
                        $('#departmentDropdown').empty();
                        $('#departmentDropdown').append($('<option>').text('Все').val('0'));

                        $.each(response, function (i, department) {
                            $('#departmentDropdown').append($('<option></option>').val(department.value).text(department.text));
                        });

                    },
                    error: function (xhr, status, error) {
                        // Handle error if any
                        console.error(xhr.responseText);
                    }
                })
                GetList()
            });
        });
        $(document).ready(function () {
            $('#departmentDropdown').change(function () {
                GetList()
            });
        });
    </script>

    <script type="text/javascript">

        function GetList() {
            var facultyId = $("#facultyDropdown").val();
            var departmentId = $("#departmentDropdown").val();
            $.ajax({
                type: 'GET',
                url: '@Url.Action("GroupList", "Group")',
                contentType: 'application/json',
                data: {
                    'facultyId': facultyId,
                    'departmentId': departmentId
                },
                success: function (response) {
                    $('#dataContainer').html(response);
                    $('#table').DataTable()
                    console.log(result)
                },
                error: function (xhr, status, error) {
                    // Handle error if any
                    console.error(xhr.responseText);
                }
            })

        }
    </script>
}
